.webScreenIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.symbols {
  position: absolute;
  height: 96.97%;
  width: 99.82%;
  top: 1.59%;
  right: 0.18%;
  bottom: 1.44%;
  left: 0;
}
.fickleflightLogo {
  position: relative;
  width: 174px;
  height: 33px;
  overflow: hidden;
  cursor: pointer;
}
.explore,
.hotels,
.offers {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.hotels,
.offers {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-gray-200);
  text-align: left;
}
.offers {
  color: var(--color-gray-300);
}
.navigationMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-xl);
}
.hamburgerMenuIcon {
  display: none;
}
.hamburgerMenuIcon,
.notificationBellIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.unsplashd1UPkiFd04AIcon {
  border-radius: 38px;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.accountSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}
.navigationRight {
  justify-content: flex-end;
  gap: 36px;
}
.navigationRight,
.topContainer,
.topHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topContainer {
  flex: 1;
  justify-content: space-between;
}
.topHeader {
  align-self: stretch;
  background-color: var(--color-white);
  height: 77px;
  padding: var(--padding-md) var(--padding-3xl);
  box-sizing: border-box;
  justify-content: center;
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-300);
  font-family: var(--font-roboto);
}
.bannerBackground {
  position: absolute;
  height: calc(100% - 0.4px);
  width: 100%;
  top: 0.4px;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.beds,
.staysInLosAngeles {
  position: relative;
  display: inline-block;
}
.staysInLosAngeles {
  letter-spacing: 0.02em;
  line-height: 48px;
  width: 1280px;
}
.beds {
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-weight: 500;
}
.pilldefault {
  background-color: var(--color-white);
  color: var(--color-gray-200);
}
.pilldefault,
.pilldefault1 {
  border-radius: var(--br-lg);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-sm);
  align-items: center;
  justify-content: center;
}
.options,
.title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.options {
  flex-direction: row;
  text-align: center;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
}
.title {
  position: absolute;
  top: 50px;
  left: 0;
  width: 1440px;
  flex-direction: column;
  padding: 0 var(--padding-3xl);
  box-sizing: border-box;
}
.banner,
.header {
  align-self: stretch;
}
.banner {
  position: relative;
  background: linear-gradient(100.3deg, #0b5ba8, #299bd8);
  height: 193px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 42px;
  font-family: var(--font-baloo-bhai);
}
.results {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
}
.filtersIcon {
  position: absolute;
  top: 0;
  left: 62px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.filters1 {
  position: absolute;
  top: 2.5px;
  left: 0;
  letter-spacing: 0.04em;
  display: inline-block;
}
.filters {
  position: relative;
  width: 86px;
  height: 24px;
  font-size: var(--font-size-sm);
}
.resultsSumamry {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.resultsImageIcon {
  position: relative;
  border-radius: var(--br-md) 0 0 var(--br-md);
  width: 260px;
  height: 220px;
  object-fit: cover;
}
.kingBedStandard {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 146.92px;
}
.div,
.holidayInnExpre,
.reviews {
  letter-spacing: 0.04em;
  display: inline-block;
}
.holidayInnExpre {
  position: relative;
  font-size: var(--font-size-xl);
  text-transform: capitalize;
  color: var(--color-gray-400);
  width: 232.87px;
}
.div,
.reviews {
  position: absolute;
  top: 0;
  left: 55.97px;
  width: 117.94px;
}
.div {
  left: 21.99px;
  font-weight: 500;
  width: 23.99px;
}
.stars,
.vectorIcon {
  position: absolute;
  top: 0;
  left: 0;
}
.vectorIcon {
  height: 84.21%;
  width: 34.78%;
  right: 65.22%;
  bottom: 15.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.stars {
  width: 45.98px;
  height: 19px;
  color: var(--color-gray-400);
}
.review {
  position: relative;
  width: 173.91px;
  height: 19px;
  color: var(--color-gray-200);
}
.resultAndVideo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.night,
.s286 {
  position: absolute;
  letter-spacing: 0.02em;
  display: inline-block;
}
.s286 {
  top: 0;
  left: 0;
  text-transform: capitalize;
}
.night {
  top: 8px;
  left: 73px;
  font-size: var(--font-size-xs);
}
.pricing,
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 112px;
  height: 26px;
}
.rectangleDiv {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-200);
}
.searchFlights {
  position: absolute;
  top: calc(50% - 10.5px);
  left: calc(50% - 54.5px);
  font-size: var(--font-size-base);
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.viewDetailsButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 37.58px;
  left: 0.49px;
  width: 164px;
  height: 46px;
}
.priceAndCta {
  position: relative;
  width: 164.49px;
  height: 83.58px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
}
.resultsCard,
.resultsDetails {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.resultsDetails {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-2xs) var(--padding-3xs) var(--padding-2xs) 0;
  box-sizing: border-box;
  gap: var(--gap-2xl);
}
.resultsCard {
  align-self: stretch;
  border-radius: var(--br-md);
  background-color: var(--color-gray-500);
  flex-direction: row;
  gap: var(--gap-md);
}
.freehandLosAngeles {
  position: absolute;
  top: 25px;
  left: 0;
  font-size: var(--font-size-xl);
  letter-spacing: 0.04em;
  text-transform: capitalize;
  display: inline-block;
  width: 273.87px;
}
.bedInQuad,
.div1,
.reviews1 {
  position: absolute;
  top: 0;
  display: inline-block;
}
.bedInQuad {
  left: 0;
  letter-spacing: 0.02em;
  color: var(--color-gray-100);
  width: 172.79px;
}
.div1,
.reviews1 {
  left: 64.07px;
  letter-spacing: 0.04em;
  width: 138.7px;
}
.div1 {
  left: 25.86px;
  font-weight: 500;
  width: 28.21px;
}
.review1,
.stars1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 54.07px;
  height: 19px;
  color: var(--color-gray-400);
}
.review1 {
  top: 57px;
  width: 202.77px;
  color: var(--color-gray-200);
}
.result {
  flex: 1;
  position: relative;
  height: 76px;
}
.resultsTitle1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.priceAndCta1 {
  position: relative;
  width: 164.49px;
  height: 83.58px;
  font-size: var(--font-size-xl);
}
.resultsCard1,
.resultsDetails1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.resultsDetails1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-2xs) var(--padding-3xs) var(--padding-2xs) 0;
  box-sizing: border-box;
  gap: var(--gap-2xl);
}
.resultsCard1 {
  align-self: stretch;
  border-radius: var(--br-md);
  background-color: var(--color-gray-500);
  flex-direction: row;
  gap: var(--gap-md);
  color: var(--color-gray-400);
}
.featureVideoIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
}
.map {
  border: 0;
  align-self: stretch;
  position: relative;
  height: 600px;
  display: none;
}
.resultCardsCol {
  width: 561.87px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.map1 {
  border: 0;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.hotelResults,
.resultsSection {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.resultsSection {
  flex-direction: row;
  gap: 23px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
}
.hotelResults {
  flex-direction: column;
  padding: 50px var(--padding-3xl);
  box-sizing: border-box;
  gap: var(--gap-lg);
  color: var(--color-gray-400);
}
.newsletterSectionBackground {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 530px;
  object-fit: cover;
}
.formTitle,
.formTitleSubtext {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.formTitleSubtext {
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.formTitle {
  font-size: 30px;
  color: #434343;
}
.formHeader {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
.fillInYourDetailsToJoinT {
  align-self: stretch;
  position: relative;
  line-height: 34px;
  display: inline-block;
}
.formText,
.input {
  align-self: stretch;
}
.formText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input {
  border: 0;
  background-color: transparent;
}
.formFields {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.button1 {
  position: relative;
  font-size: 15px;
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.unstyledButton {
  overflow: hidden;
  padding: 8px var(--padding-md);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.button,
.form,
.subscribeForm,
.unstyledButton {
  display: flex;
  flex-direction: column;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-orange-100);
  border-radius: 4px;
  width: 164px;
  height: 56px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: #dc880b;
}
.form,
.subscribeForm {
  box-sizing: border-box;
  justify-content: flex-start;
}
.form {
  align-self: stretch;
  border-radius: 12px;
  background-color: var(--color-white);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.03);
  border: 1px solid #eaeaea;
  padding: 28px var(--padding-xl);
  align-items: flex-start;
  gap: 17px;
  text-align: left;
  color: #576074;
}
.subscribeForm {
  position: relative !important;
  top: 52px;
  left: auto !important;
  width: 549px;
  padding: var(--padding-xs);
  align-items: center;
  gap: var(--gap-xl);
  margin-left: auto;
  margin-right: auto;
}
.newsletterFormSection {
  align-self: stretch;
  position: relative;
  background-color: #f3f7fb;
  height: 529px;
  overflow: hidden;
}
.logoIcon {
  position: relative;
  width: 174px;
  height: 33px;
  overflow: hidden;
}
.fickleFlightIsYourOneStop {
  align-self: stretch;
  position: relative;
  line-height: 27px;
  display: inline-block;
}
.socialIcons {
  position: relative;
  width: 130px;
  height: 30px;
}
.fickleFlightBio {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  margin-bottom: 40px !important;
}
.seperator {
  position: relative;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  width: 1px;
  height: 157.87px;
}
.aboutUs {
  top: 47.76px;
  width: 135.67px;
}
.aboutUs,
.careers,
.company1,
.howWeWork,
.news {
  position: absolute;
  left: 0;
  display: inline-block;
}
.company1 {
  top: 0;
  font-size: var(--font-size-lg);
  line-height: 27px;
  font-weight: 500;
  width: 174.72px;
}
.careers,
.howWeWork,
.news {
  top: 78.76px;
  width: 84.28px;
}
.careers,
.howWeWork {
  top: 109.76px;
  width: 115.11px;
}
.howWeWork {
  top: 140.76px;
  width: 197.33px;
}
.company {
  position: relative;
  width: 197.33px;
  height: 159.76px;
}
.account,
.support1 {
  position: absolute;
  top: 47.76px;
  left: 0;
  display: inline-block;
  width: 109.63px;
}
.support1 {
  top: 0;
  font-size: var(--font-size-lg);
  line-height: 27px;
  font-weight: 500;
  width: 131.56px;
}
.accessibility,
.fAQ,
.supportCenter {
  position: absolute;
  top: 78.76px;
  left: 0;
  display: inline-block;
  width: 197.33px;
}
.accessibility,
.fAQ {
  top: 109.76px;
  width: 52.99px;
}
.accessibility {
  top: 140.76px;
  width: 164.44px;
}
.covidAdvisory {
  top: 47.76px;
  width: 172.87px;
}
.airlineFees,
.covidAdvisory,
.more1,
.tips {
  position: absolute;
  left: 0;
  display: inline-block;
}
.more1 {
  top: 0;
  font-size: var(--font-size-lg);
  line-height: 27px;
  font-weight: 500;
  width: 76.65px;
}
.airlineFees,
.tips {
  top: 78.76px;
  width: 135.36px;
}
.tips {
  top: 109.76px;
  width: 50.56px;
}
.more {
  position: relative;
  width: 197.33px;
  height: 159.76px;
}
.footerLinks {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--font-size-sm);
}
.footer,
.footerSection,
.hotelsPage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  background: linear-gradient(91.74deg, #0b5ba8 25.38%, #299bd8);
  flex-direction: row;
  padding: 33px 84px;
  box-sizing: border-box;
  gap: 44px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.footerSection,
.hotelsPage {
  flex-direction: column;
  gap: var(--gap-0);
}
.footerSection {
  align-self: stretch;
  text-align: center;
  color: #1262ae;
}
.hotelsPage {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 1200px) {
  .title,
  .topHeader {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .banner {
    padding: var(--padding-sm) var(--padding-2xl) var(--padding-sm) 41px;
    box-sizing: border-box;
  }
  .footer,
  .hotelResults {
    padding: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .navigationMenu {
    display: none;
  }
  .hamburgerMenuIcon {
    display: flex;
  }
  .title,
  .topHeader {
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    box-sizing: border-box;
  }
  .banner {
    padding: var(--padding-sm) var(--padding-lg);
    box-sizing: border-box;
  }
  .map {
    display: flex;
    max-width: 1000px;
  }
  .resultCardsCol {
    width: 100% !important;
  }
  .map1 {
    display: none;
  }
  .hotelResults,
  .subscribeForm {
    padding: var(--padding-xl) var(--padding-lg);
    box-sizing: border-box;
  }
  .subscribeForm {
    padding: var(--padding-lg) 0;
  }
  .fickleFlightBio {
    flex: unset;
    align-self: stretch;
  }
  .seperator {
    display: none;
  }
  .footerLinks {
    flex: unset;
    align-self: stretch;
  }
  .footer {
    flex-direction: column;
    padding: var(--padding-2xl) var(--padding-lg) var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 650px) {
  .navigationRight {
    display: flex;
  }
  .staysInLosAngeles {
    font-size: 32px;
  }
  .beds {
    font-size: var(--font-size-xs);
  }
  .resultsImageIcon {
    width: 100% !important;
    border-radius: 10px !important;
  }
  .resultsDetails {
    width: 100%;
    padding: var(--padding-2xs);
    box-sizing: border-box;
    flex: unset;
    align-self: stretch;
  }
  .resultsCard {
    flex-direction: column;
  }
  .resultsDetails1 {
    padding: var(--padding-2xs);
    box-sizing: border-box;
    flex: unset;
    align-self: stretch;
  }
  .resultsCard1 {
    flex-direction: column;
  }
  .resultCardsCol {
    gap: var(--gap-lg);
  }
  .button {
    width: 100%;
  }
  .button:hover {
    background-color: var(--color-orange-100);
  }
  .subscribeForm {
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    left: auto !important;
    width: 100%;
  }
  .company {
    margin-bottom: 40px !important;
  }
  .footerLinks {
    flex-direction: column;
  }
  .footer {
    padding: var(--padding-xl) var(--padding-lg);
    box-sizing: border-box;
  }
}
